# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\IIM\devops-iim-youtube-project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
