name: Appication Mini Youtube
on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Init project
        uses: actions/checkout@v2
      - name: eslint
        uses: actions/checkout@v1
        with:
          node-version: 12
      - name: yarn install
        run: yarn install
      - name: eslint
        uses: icrawl/action-eslint@v1
      - name: Checking - packaging version
        uses: technote-space/package-version-check-action@v1
      - name: Heroku Deploy
        uses: akhileshns/heroku-deploy@v3.5.6
        with:
          heroku_api_key: ${{secrets.HEROKU_KEY}}
          heroku_app_name: ${{secrets.HEROKU_APP_PREPROD}}
          heroku_email: ${{secrets.HEROKU_EMAIL}}